body {
    font-family:helvetica;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

h4 a {
    font-size:75%;
}

.containerRow {
    width:825px;
    height:175px;
}

.container {
    float:left;
    padding:0px;
    margin-right:10px;
}

.container img {
    border: thin solid black;
    padding:10px;
}

.container p {
    padding:0px;
    margin:0px;
}

.section {
    width:100%;
    margin-right:10px;
    overflow:auto;
}

.tableDiv table {
    border: thin double black;
    border-collapse:collapse;
}

.tableDiv td {
    line-height: 100%;
    text-align:center;
    font-size:11px;
    padding:2px;
    border:thin solid white;
}

td.even {
    background-color: #c2c2c2;
}

td.odd {
    background-color: #eaeaea;
}